# Compiled Object files
*.slo
*.lo
*.o
*.res

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exe
*.lnk

# Compiled Static libraries
*.lai
*.la

# Images
*.jpg
*.bmp
*.png

# Other
*.bin
*.bak
*.depend
*.layout
*.zip
*.7z

ss/*
*.Cache
*.resources
*.cache
*.pdb
*.manifest
